source/lib/Tamsa.View.ProductionReport.ViewModel/Service References/ITServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.Program" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Delays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Chemical" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.UT" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetProgramIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessIds" nillable="true" type="q1:ArrayOfITMachineId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProgramPublicationDates" nillable="true" type="q2:ArrayOfKeyValueOfstringdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q3:ITMachineId" />
        <xs:element minOccurs="0" name="PublicationDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.Program" minOccurs="0" name="Program" nillable="true" type="q4:ArrayOfProgramItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q5:ITMachineId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.Program" minOccurs="0" name="Program" nillable="true" type="q6:ArrayOfProgramItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q7:ITMachineId" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="OrderData" nillable="true" type="q8:OrderData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q9:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRouteResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="route" nillable="true" type="q10:ArrayOfKeyValueOfintITMachineId0v_Pa5xBf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCycleTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="machineId" nillable="true" type="q11:ITMachineId" />
        <xs:element minOccurs="0" name="order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCycleTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCycleTimeResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableItemsForProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q12:ITMachineId" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Heat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableItemsForProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="AvailableItems" nillable="true" type="q13:StockItemsCollection" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" minOccurs="0" name="res" nillable="true" type="q14:ErrorReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItemsToProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q15:ITMachineId" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" minOccurs="0" name="Operator" nillable="true" type="q16:Operator" />
        <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Shift" type="xs:int" />
        <xs:element minOccurs="0" name="LoadType" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="ItemsToLoad" nillable="true" type="q17:StockItemsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadItemsToProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="ItemsInGroup" nillable="true" type="q18:StockItemsCollection" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q19:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q20:ITMachineId" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailableHeats" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsIDRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q22:ITMachineId" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Heat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsIDRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="Range" nillable="true" type="q23:ItemsIDRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxPipesInCrane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q24:ITMachineId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxPipesInCraneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxPipesInCraneResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportStockItemsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q25:ITMachineId" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="ProposedStockGroup" nillable="true" type="q26:StockGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportStockItemsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Transactions" nillable="true" type="q27:ArrayOfKeyValueOfstringTransactionReportyf7ull1t" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q28:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDelaysToHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q29:ITMachineId" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TenarisCommon.Delays" minOccurs="0" name="DelaysToSend" nillable="true" type="q30:DelayCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDelaysToHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q31:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckControlNumbers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckControlNumbersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCompliance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q32:ITMachineId" />
        <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderComplianceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompliedQuantity" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPacketToIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="processId" nillable="true" type="q33:ITMachineId" />
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="packet" nillable="true" type="q34:Packet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPacketToITResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q35:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWMSSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q36:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWMSSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q37:SpecDataWMS" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q38:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPreAcceptance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="processId" nillable="true" type="q39:ITMachineId" />
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="packet" nillable="true" type="q40:Packet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPreAcceptanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TenarisCommon" minOccurs="0" name="CheckPreAcceptanceResult" nillable="true" type="q41:PreAcceptance" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" minOccurs="0" name="error" nillable="true" type="q42:ErrorReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProducedItemsGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q43:ITMachineId" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="ProducedItemsGroup" nillable="true" type="q44:StockGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProducedItemsGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Transactions" nillable="true" type="q45:ArrayOfKeyValueOfstringTransactionReportyf7ull1t" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q46:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProbeInfoToHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProcessId" nillable="true" type="q47:ITMachineId" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="StockProbes" nillable="true" type="q48:StockItemsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendProbeInfoToHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q49:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDISpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="order" nillable="true" type="q50:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVDISpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="specData" nillable="true" type="q51:SpecDataVDI" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q52:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequirementNDTNotches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="order" nillable="true" type="q53:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequirementNDTNotchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="notches" nillable="true" type="q54:SpecDataNotches" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q55:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMISpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q56:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEMISpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q57:SpecDataEMI" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q58:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChemicalSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q59:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChemicalSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TenarisCommon.Chemical" minOccurs="0" name="container" nillable="true" type="q60:ChemicalElementsContainer" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q61:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouplingSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q62:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouplingSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q63:SpecDataCouplingBuckOn" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q64:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConsumedCouplings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pipeLoadType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="couplingLoadType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lot" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TenarisCommon.Stock" minOccurs="0" name="couplingGroup" nillable="true" type="q65:StockGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConsumedCouplingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q66:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydrostaticTestSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q67:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHydrostaticTestSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q68:SpecDataHydrostaticTest" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q69:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTRSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q70:ProductKey" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="machineId" nillable="true" type="q71:ITMachineId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTRSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q72:SpecDataHTR" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q73:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChemicalAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q74:ProductKey" />
        <xs:element minOccurs="0" name="testId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="testScope" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="testResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChemicalAnalysisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="result" nillable="true" type="q75:ArrayOfLaboratorySamplesResult" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" minOccurs="0" name="errorReport" nillable="true" type="q76:ErrorReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpsettingSpecificationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="productKey" nillable="true" type="q77:ProductKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpsettingSpecificationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TenarisCommon.SpecData" minOccurs="0" name="container" nillable="true" type="q78:SpecDataUpsetting" />
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q79:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TenarisCommon" minOccurs="0" name="metaData" nillable="true" type="q80:ArrayOfParameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInspectionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/TenarisCommon.UT" minOccurs="0" name="group" nillable="true" type="q81:InspectionGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInspectionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q82:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDefectsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaction" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/TenarisCommon.UT" minOccurs="0" name="group" nillable="true" type="q83:InspectionGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDefectsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="res" nillable="true" type="q84:ArrayOfKeyValueOfstringErrorReportyf7ull1t" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAscii85">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q85:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAscii85Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAscii85Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAscii85">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewAscii85Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewAscii85Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>